[user]
	name = {{ .name }}
	email = {{ .email }}
[pull]
	ff = only
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/larry.adeyemi/.gitignore
	editor = code --wait
[init]
	defaultBranch = main
